# frozen_string_literal: true

RailsQuery.configure do |config|
  config.default_ttl = 5.minutes
  config.namespace = "<%= @query_namespace %>"

  # Example with Redis:
  # config.cache_store = ActiveSupport::Cache::RedisCacheStore.new(
  #   url: ENV["REDIS_URL"]
  # )
end
